@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Love+Ya+Like+A+Sister&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
	background: rgb(255, 255, 255);
	padding: 0px;
}

h1 {
	display: flex;
	flex-direction: column;
	align-items: center;
}

h2 {
	padding: 0px;
	margin: 5px;
}

h3 {
	font-family: 'Press Start 2P', cursive;
	font-size: 1.8em;
	color:rgb(0, 255, 179);
}

h4 {
	font-family: 'Press Start 2P', cursive;
	font-size: 1.5em;
	color:rgb(0, 255, 179);
}

h5 {
	font-family: 'Press Start 2P', cursive;
	font-size: 1.2em;
	color:rgb(0, 255, 179);
}

button {
	display:inline-block;
	padding: 0.5em 1.2em;
	border-radius: 0.5em;
	box-sizing: border-box;
	text-decoration: none;
	font-family: 'Love Ya Like A Sister', cursive;
	font-weight: bold;
	color:black;
	background-color:#adadad;
	border: 1px solid gainsboro;
	text-align: center;
	position: relative;
}

button:hover{
	background-color:white;
	border: 1px solid white;
}



nav {
	width: 100%;
	background:black;
	color: white;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
	top: 0;
	left: 0;
	margin: 0;
}

nav ul{
	list-style-type: none;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: flex-end;
}

.title {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	font-family: 'Press Start 2P', cursive;
	color:rgb(0, 255, 179);
}

nav ul li {
	margin: 0px 5px 0px 5px;
	width: 100px;
	height: 20px;
	background: black;
	color: white;
	display: flex;
	justify-content: space-around;
	text-decoration: none;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box; 
}

nav ul li:hover{
	border: 1px solid white;
	font-weight: bold;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box; 
}


nav ul li a:active{
	color: gray;
	text-decoration: none;
}


.container {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;

}

.play {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: flex-start;
}

.scoreboard{
	width: 400px;
	height: 600px;
	margin: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	border: 1px solid black;
	background-color: gray;
	font-family: 'Roboto', sans-serif;
}

.userscore{
	width: 300px;
	height: 30px;
	margin: 0px;
	padding: 2px;
	display: flex;
	border: 1px solid black;
	background-color: black;
	flex-direction: row;
}

.score-header {
	background-color: black;
	width: 150px;
	color:rgb(0, 255, 179);
	font-size: 1.2em;
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
	text-align: left;
	padding: 2px 10px 2px 10px;
	margin: 0px;
}

.score-col {
	width: 150px;
	color:gold;
	font-size: 1.2em;
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
	text-align: left;
	padding: 2px 10px 2px 10px;
	margin: 0px;
}


.rules {
	width: 400px;
	height: 600px;
	margin: 20px;
	padding: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	border: 1px solid black;
	background-color: gainsboro;
	font-family: 'Roboto', sans-serif;
}

.gamecontainer {
	width: 640px;
	height: 640px;
	display: flex;
	margin: 10px;
	flex-direction: column;
	align-items: center;
	font-family: 'Cabin', sans-serif;
}

.gamestats{
	width: 640px;
	height: 150px;
	background-color: black;
	border: 1px solid rgba(255, 255, 255, 0.726);
	border-radius: 5px 5px 0px 0px;
	font-family: 'Love Ya Like A Sister', cursive;
	color: white;
	font-size: 1em;
	display: grid;
	grid-template-columns: 1fr 1fr;
	padding: 10px 10px 10px 10px;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}
.gamegrid {
	display: grid;
	grid-template-columns: repeat(8, 1fr);
	width: 640px;
	height: 640px;
	position: relative;
	background-color: rgb(34, 34, 34);
	border: 1px white solid;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box; 
}

.gamebox {
	width: 80px;
	height: 80px;
	font-size: 2em;
	font-weight: bold;
	color: white;
	display: flex;
	flex-direction: column-reverse;
	justify-content: space-around;
	align-items: center;
}

.gameinfo {
	grid-column-start: 1;
	grid-column-end: 3;
	display: flex;
	flex-direction: column;
	align-items: center;
	font-size: 1.5em;
	color:rgb(0, 255, 179);
}

.statinfo {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}

.muncher {
	border: 1px solid rgb(81, 255, 168);
	width: 80px;
	height: 80px;
	position: absolute;
	color: rgb(0, 255, 179);
	font-size: 1em;
	left: 0px;
	top: 0px;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box; 
}

.numGen {
	border: 1px solid rgb(233, 89, 5);
	width: 80px;
	height: 80px;
	position: absolute;
	color: rgb(0, 255, 179);
	font-size: 1em;
	left: 560px;
	top: 560px;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box; 
}

.liveBar {
	background-color: red;
	height: 15px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.signup {
	width: 800px;
	height: 500px;
	display: flex;
	background: rgb(109, 109, 109);
	color: white;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	padding: 20px;
	border: 1px black solid;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box; 
}

input {
	border: 1px rgb(78, 78, 78) solid;
	border-radius: 5px;
	width: 250px;
	height: 35px;
	font-size: 1.5em;
	font-family: 'Roboto', sans-serif;
	color: #4CAF50;
	margin: 5px;
}

input:hover {
	border-color: rgb(0, 255, 179);
}

input:focus {
	border-color:rgb(0, 95, 219);
}

input[type=submit], input[type=button] {
	background-color: rgb(0, 255, 179);;
	color: black;
	font-size: 1.5em;
	width: 100px;
	height: 35px;
	display:inline-block;
 	border: 0.1em solid #FFFFFF;
	border-radius: 0.12em;
	box-sizing: border-box;
	text-decoration: none;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	text-align: center;
	transition: all 0.2s;
}

input[type=submit]:hover {
	border: 0.15em solid gainsboro;
	background-color: rgb(0, 255, 179);
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box; 
}

