@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');


body {
	background: rgb(92, 47, 255);
}

h1 {
	display: flex;
	flex-direction: column;
	align-items: center;
}

h2 {
	padding: 0px;
	margin: 5px;
}

button {
	background-color:rgb(92, 47, 255);
	border-radius: 2px;
	border: 2px solid white;
	width: 50px;
	height: 20px;
}

nav {
	width: 100%;
	background:rgba(255, 81, 0, 0.726);
	display: flex;
	flex-direction: column;
	font-family: 'Cabin', sans-serif;

}

nav ul{
	list-style-type: none;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: flex-end;
}

nav ul li {
	width: 100px;
	height: 20px;
	background: black;
	color: white;
	border: 2px solid black;
	display: flex;
	justify-content: space-around;
}

nav ul li:hover{
	border: 2px solid rgb(0, 95, 219);
}

nav ul li a{
	color: white;
	text-decoration: none;
}

nav ul li a:active{
	color: gray;
}


.container {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;

}

.gamecontainer {
	width: 640px;
	height: 640px;
	display: flex;
	flex-direction: column;
	align-items: center;
	font-family: 'Cabin', sans-serif;
}

.gamestats{
	width: 640px;
	height: 100px;
	background-color: black;
	border: 1px solid rgba(255, 81, 0, 0.726);
	border-radius: 5px 5px 0px 0px;
	color: white;
	font-size: 1em;
	display: flex;
	flex-direction: column;
	align-items: flex-end;

}
.gamegrid {
	display: grid;
	grid-template-columns: repeat(8, 1fr);
	width: 640px;
	height: 640px;
	position: relative;
	background-color: rgb(34, 34, 34);
}

.gamebox {
	width: 80px;
	height: 80px;
	font-size: 2em;
	font-weight: bold;
	color: white;
	display: flex;
	flex-direction: column-reverse;
	justify-content: space-around;
	align-items: center;
}

.gameinfo {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	font-size: 1.5em;
	color:rgb(255, 81, 81);
}

.muncher {
	border: 1px solid rgb(255, 81, 81);
	width: 80px;
	height: 80px;
	position: absolute;
	color: red;
	font-size: 1em;
	left: 0px;
	top: 0px;
}